.clickable-header {
  text-decoration: none;
  color: #494949;
}

.clickable-header:hover {
  text-decoration: underline;
  color: #274f9b;
}

.clickable-subheader {
  text-decoration: none;
  color: #7a7a7a;
}

.clickable-subheader:hover {
  text-decoration: underline;
  color: #274f9b;
}
