.clickable-header {
  text-decoration: none;
  color: #494949;
  transition: color 0.1s;
}

.clickable-header:hover {
  text-decoration: underline;
  color: #274f9b;
}

.clickable-subheader {
  text-decoration: none;
  color: #7a7a7a;
  transition: color 0.1s;
}

.clickable-subheader:hover {
  text-decoration: underline;
  color: #274f9b;
}

.missing-info {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 400;
  line-height: 1;
  color: #949494;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  border: 1px dotted #c4c4c4;
}

.player-wrapper {
  position: relative;
  /* padding-top: 56.25%; Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.playable {
  transition: border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.now-playing {
  box-shadow: 0px 4px 15px 5px rgba(64, 90, 255, 0.18);
}

.highlight {
  color: rgba(64, 90, 255, 1);
}
